@model QDocument.Data.Models.Document

@section Styles {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        [v-cloak] > * {
            display: none;
        }

        [v-cloak]::before {
            content: "loading...";
        }
    </style>
}
@{
    ViewData["Title"] = "Edit";
}

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-12" id="app" v-cloak>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentType" class="control-label"></label>
                <select asp-for="DocumentType" class="form-control" asp-items="@Html.GetEnumSelectList<DocumentType>()">
                    <option disabled selected>-- SELECT A TYPE --</option>
                </select>
                <span asp-validation-for="DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="jobList" class="control-label">Approval Scheme</label>
                @Html.DropDownList("jobList", (MultiSelectList)ViewBag.JobList, new { multiple = "multiple", @class = "form-control" })
            </div>
            <div class="form-group">
                <approval-users :jlist="'#jobList'"></approval-users>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/dist/main.js"></script>
    <script>
        $(document).ready(function () {
            $("#jobList").select2();
        });
    </script>
}

